<!DOCTYPE html>
<html lang="en">

<head>
  
</head>

<body>

    {{!-- {{>header}} --}}

    <section class="blockForm">
        <form method="GET" action="/index">
            <label id="accountNumber">Account Number: {{data.accountNumber}} </label>
            <label id="accountType">Account Type: {{data.accountType}} </label>
            <label id="accountBalance">Account Balance: {{data.accountBalance}}</label>
            <button>Return to Bank Menu</button>
        </form>
    </section>
</body>

</html>